*{
    margin: 0;
}


.header {
    background-color: #0769e9;
    height: 50px;
    width: 102%;
}
  
.nav {
    display: flex; 
    justify-content: space-between; 
    margin: 0 5px;
}
  
.nav-link {
    color: white;
    text-decoration: none;
}
  
.logo {
    font-size: 22px;
    font-weight: bold;
    padding-left: 3px;
    line-height: 50px;
}
  
.nav-menu {
    display: flex; 
    padding: 2px;
    list-style: none;
}
  
.nav-menu-item {
    font-size: 13px;
    margin: 0 3px;
    line-height: 50px;
    width: max-content;     /*se utiliza para establecer el ancho máximo de un elemento*/ 
}
  
.nav-menu-link {
    padding: 8px;
    border-radius: 3px;
}
  
.nav-menu-link:hover,
.nav-menu-link_active {
    background: none;
    color: #83c5f7;
    transition: 0.5s;
}
  
/* TOGGLE  boton del navegador */
.nav-toggle {
    color: #09e5f5;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    
    display: none;  
}
  
@media (min-width:200px) and (max-width:500px){  
  
    .header {
        height: 60px;   /*tamaño del nevegador*/
          
    }
    
    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: #38536e;
        position: fixed;
        top: 60px;
        width:100%;
        padding: 20px 0;
      
        height: calc(100% - 60px); 
        overflow-y: auto;
      
        left: 100%; 
        transition: left 0.3s;
    }
      
    .nav-menu-item {
        line-height: 70px;
    }
      
    .nav-menu-link:hover,
    .nav-menu-link_active {
        background: none;
        color: #95d0fd;
    }
      
    .nav-toggle {
        display: block;
    }
      
    .nav-menu_visible {  /*desplegable */
        left: 0;
    }
      
    .nav-toggle:focus:not(:focus-visible) { 
        outline: none;
    } 
}
    


/*mobay (500) nav hecho*/


main{                      /*listo*/
    margin-bottom:15px;
}

.bienvenida{               /* listo*/                
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    width: 102%; 
    height: auto
    
}

.bienvenida h1{            /* listo*/               
    font-size: 25px; 
}


.bienvenida p{             /* listo*/                
   font-size: 15px;
}

iframe{

    height:250px;
    width:110%;
}

.encavesadovene{            /* listo*/                 

    margin-left:0px ;
}

.veneficio{                 /* listo*/                   
    
    display:flex;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5%;
    background-color: rgb(183, 248, 226);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    width:90% ;
    height: auto;
    
}

.veneficio h4{               /* listo*/                   
    text-align: center;
    font-size: 14px;
}

.veneficio p{                /* listo*/                   

    text-align: center;
    font-size:10px ;
    
}

.veneficio img{               /* listo*/                  
    
    width:35%;
    height:auto;
    
}

.hijoveneficio{               /* listo*/                  
    padding: 4px;
    display: inline-block;
}

.container1{                  /* listo*/                   
    background-color:rgb(215, 255, 141);
    display:flexbox;
    width: 90%;
    height: auto;
    margin-top: 20px;
    margin-left:25px;
}

.container1 h1{                /* listo*/                   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}

.hijos{                       /* listo*/                   
    background-color:rgb(221, 221, 201);
    font-family: Arial;
    text-align: center;
    display: inline-block;
    padding: 4px;
    margin-left: 3%;
    border-radius: 10px;
    width: 20%;
    height: auto ;
    margin-bottom: 15px;

}

.hijos p{                     /* listo*/                   
    text-align: center;
    font-style:oblique;
    color: rgb(117, 57, 1);
    font-size: 7px;

}

.hijos h1{                   /* listo*/                   
    color: rgb(61, 31, 0);
    text-align: center;
    font-style: oblique;
    margin-top: 0;
    font-size: 15px;
}

.hijos img{                   /* listo*/                  
    width: 46%;
    height: auto ; 
    padding: 3px;
}

.container2{                  /* listo*/                    
    background-color:rgb(237, 165, 255);
    display:flexbox;
    width: 90%;
    height: auto;
    margin-top: 20px;
    margin-left:25px;
}

.container2 h1{               /* listo*/                  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}

.registro{                    /* listo*/                  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-color: rgb(139, 151, 255);
    width: 90%;
    height: 70;
    margin-bottom: 15px;
    margin-left: 5%;
}

.tituloregistro{             /* listo*/
    text-align: center;
    color: #1c0486;
    font-size: 20px;
}

label{                       /* listo*/
    margin-left: 5px;
}

.boton{                       /* listo*/
  margin-left: 50%
}


.footer-servicio-social{
   background-color: rgb(209, 209, 209);
   width: 102% ;
}

.info{
    display: flex; 
    justify-content:space-between;
    margin-right: 300px; 
    margin-left: 160px;
}


.info img{
    height: auto;
    width: 25px;
    padding: 2px;
}


.titulofooter{
    font-size: 12px;
    text-align: center;
    margin-bottom:10px ;
}

.iten{
    list-style: none;                      /*listo*/
    font-size: 9px;
    padding-bottom: 10px ;
}


/* mobay contenido listo   /*                                              /*https://getbootstrap.com/*/



/*tablet */ /*DIANA*/
@media (min-width: 501px) and (max-width: 800px) {
    .logo {
        font-size: 23px;
        padding-left: 8px;
    }

    .nav-menu-item {
        font-size: 13px;
        margin: 0 5px;
    }

    .nav-menu-link {
        padding: 6px;
    }

    .bienvenida h1 {
        font-size: 22px;
    }

    .bienvenida p {
        font-size: 18px;
    }

    iframe{

        height:250px;
        width:110%;
    }

    .veneficio {
        margin: 10px 5%;
        width: 90%;
    }

    .veneficio h4 {
        font-size: 15px;
    }

    .veneficio p {
        font-size: 11px;
    }

    .veneficio img {
        width: 50%;
    }


    .container1 {
        margin-left: 20px;
    }

    .container1 h1 {
        font-size: 19px;
    }

    .hijos {
        margin-left: 10px;
        width: 21%;
    }

    .hijos p {
        font-size: 7px;
    }

    .hijos h1 {
        font-size: 18px;
    }

    .hijos img {
        width: 47%;
    }

    .container2 {
        margin-left: 20px;
    }

    .container2 h1 {
        font-size: 18px;
    }

    .registro {
        font-size: 10px;
        margin-left: 20px;
    }


    .tituloregistro {
        font-size: 23px;
    }

    label {
        margin-left: 10px;
    }

    .boton {
        margin-left: 65%;
    }

    .info img{
        height: auto;
        width: 28px;
        height: auto;
        padding: 2px;
    }
    
    .info{
        display: flex; 
        justify-content:space-between; 
        padding-left: 75px;
    }
     
    .titulofooter{
        text-align: center;
        font-size: 13px;
    }
     
   
    .iten{
        list-style: none;                       /*listo*/
        font-size: 10px;
        padding-bottom: 10px ;
    }

}

/* Table grande */           
@media (min-width: 801px) and (max-width:1000px){      
  
.logo {
    font-size: 30px;
    padding-left: 20px;
    line-height: 50px;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 8px;
}

.nav-menu-link {
    padding: 15px;
}

/* tablet grade nav hecho*/

.bienvenida h1{            /* listo*/               
    font-size: 25px;
}

.bienvenida p{             /* listo*/                
   font-size: 20px;
}

iframe{

    height:260px;
    width:110%;
}

.veneficio{                 /* listo*/                   
    
    margin-top: 9px;
    margin-bottom: 9px;
   
}

.veneficio h4{               /* listo*/                   
    font-size: 15px;
}

.veneficio p{                /* listo*/                   
    font-size:12px ;
    
}

.veneficio{                    /*listo*/

    width: 90%;
    margin-left: 5%;
}

.hijoveneficio{               /* listo*/                  
    padding: 2px;
}

.container1{                  /* listo*/                   
    margin-top: 0px;
    margin-left:5%;
}

.container1 h1{                /* listo*/                   
    font-size: 20px;
}

.hijos{                       /* listo*/                   
    margin-left: 20px;
    width: 21%;
}

.hijos p{                     /* listo*/                   
    font-size: 10px;
}

.hijos h1{                   /* listo*/                   
    font-size: 19px;
}

.hijos img{                   /* listo*/                  
    width: 48%;
    padding: 1px;
}

.container2{                  /* listo*/                    
    margin-top: 0px;
    margin-left:5%;
}

.container2 h1{                /* listo*/       
    font-size: 20px;   
}

.registro{                     /* listo*/                  

    font-size: 15px;
    width: 90%;
    height: auto;
    margin-left: 40px;
}

.tituloregistro{               /* listo*/
    font-size: 30px;
    margin-bottom:15px ;
}

label{                         /* listo*/
    margin-left: 15px;
}

.boton{                        /* listo*/
  margin-left: 70%
}

.info img{
    height: auto;
    width: 30px;
    padding: 2px;
}

.info{
    display: flex; 
    justify-content:space-between; 
    padding-left: 140px;
}
 
.titulofooter{
    font-size: 15px;
}
 
.iten{                      /*listo*/
    font-size: 13px;
    padding-bottom: 10px ;
}

/*Tablet grande listo*/

}

/* escritorio */         
@media (min-width: 1001px) and (max-width:1200px){  /* escritorio hecho*/

      
.logo {
    font-size: 37px;
    padding-left: 25px;
}

.nav-menu-item {
    font-size: 26px;
    margin: 0 16px;
}
 

.nav-menu-link {
    padding: 12px;
}

.header {
    height: 55px;
}


/* escritorio nav hecho*/

.bienvenida h1{            /* listo*/               
    font-size: 37px;
}

.bienvenida p{             /* listo*/                
   font-size: 30px;
}

iframe{

    height:270px;
    width:110%;
}

.veneficio{                 /* listo*/                   
    
    margin-top: 15px;
    margin-bottom: 15px;
   
}

.veneficio h4{               /* listo*/                   
    font-size:24px;
}

.veneficio p{                /* listo*/                   
    font-size:18px ;
    
}

.veneficio{                    /*listo*/

    width: 95%;
    margin-left: 4%;
}

.hijoveneficio{               /* listo*/                  
    padding: 0px;
}

.container1{                  /* listo*/                   
    
    width: 95%;
    margin-left:4%;
}

.container1 h1{                /* listo*/                   
    font-size: 28px;
}

.hijos{                       /* listo*/                   
    width: 22%;
    margin-left: 20px;
}

.hijos p{                     /* listo*/                   
    font-size: 16px;
}

.hijos h1{                   /* listo*/                   
    font-size: 23px;
}

.hijos img{                   /* listo*/                  
    width: 48%;
    padding: 1px;
}

.container2{                  /* listo*/                    
    width: 95%;
    margin-left:4%;
}

.container2 h1{               /* listo*/       
    font-size: 28px;   
}

.registro{                     /* listo*/                  

    font-size: 22px;
    width: 97%;
    margin-left: 30px;
}

.tituloregistro{                /* listo*/
    font-size: 35px;
    margin-bottom:15px ;
}

label{                         /* listo*/
    margin-left: 25px;
}

.boton{                        /* listo*/
    margin-left: 70%
}


.info img{
    height: auto;
    width: 40px;
    padding: 2px;
}

.info{
    display: flex; 
    justify-content:space-between; 
    margin-right: 400px ;
    margin-bottom: 15px;
    margin-left: 350px;

}
 
.titulofooter{
    font-size: 23px;
    margin-bottom: 20px;
}
 
.iten{                      /*listo*/
    font-size: 16px;
    padding-bottom: 10px ;
}


} 


/* escrirorio monitor grande*/         
@media (min-width: 1201px) and (max-width:1400px){   /* escrirorio monitor grande listo*/ 

      
    .logo {
        font-size: 45px;
        padding-left: 30px;
    }
    
    .nav-menu-item {
        font-size: 30px;
        margin: 0 10px;
    }

   
    .nav-menu-link {
        padding: 25px;
    }
    
    .header {
        height: 65px;
    }


    /* escritorio nav hecho*/
    
    .bienvenida h1{            /* listo*/               
        font-size: 45px;
    }
    
    .bienvenida p{             /* listo*/                
       font-size: 35px;
    }
    
    iframe{

        height:270px;
        width:110%;
    }


    .veneficio h4{               /* listo*/                   
        font-size:30px;
    }
    
    .veneficio p{                /* listo*/                   
        font-size:25px ;
        
    }
    
    .veneficio{                    /*listo*/
    
        width: 95%;
        margin-left: 3%;
    }
    
    .hijoveneficio{               /* listo*/                  
        padding: 0px;
    }
    
    .container1{                  /* listo*/                   
        
        width: 95%;
        margin-left:3%;
    }
    
    .container1 h1{                /* listo*/                   
        font-size: 30px;
    }
    
    .hijos{                       /* listo*/                   
        width: 22%;
        margin-left: 20px;
    }
    
    .hijos p{                     /* listo*/                   
        font-size: 20px;
    }
    
    .hijos h1{                   /* listo*/                   
        font-size: 28px;
    }
    
    .hijos img{                   /* listo*/                  
        width: 48%;
        padding: 1px;
    }
    
    .container2{                  /* listo*/                    
        width: 95%;
        margin-left:3%;
    }
    
    .container2 h1{               /* listo*/       
        font-size: 30px;   
    }
    
    .registro{                     /* listo*/                  
    
        font-size: 25px;
        width: 97%;
        margin-left: 20px;
    }
    
    .tituloregistro{                /* listo*/
        font-size: 42px;
        margin-bottom:15px ;
    }
    
    label{                         /* listo*/
        margin-left: 35px;
    }
    
    .boton{                        /* listo*/
        margin-left: 70%
    }
    
   

.info img{
    height: auto;
    width: 50px;
    padding: 2px;
}

.info{
    display: flex; 
    justify-content:space-between; 
    margin-right: 400px ;
    margin-bottom: 15px;
    margin-left: 350px;

}
 
.titulofooter{
    font-size: 25px;
    margin-bottom: 20px;
}
 
.iten{                      /*listo*/
    font-size: 17px;
    padding-bottom: 10px ;
}



}