<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto </title>
</head>
<body>
    <h1>Editar Producto</h1>
    <form action="/<%=producto.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div>
            <label for="marca">Marca: </label>
            <input type="text" name="marca" id="marca" value="<%=producto.marca%>" required>
        </div>
        <br>

        <div>
            <label for="descripcion">Descripcion: </label>
            <input type="text" name="descripcion" id="descripcion" value="<%=producto.descripcion%>" required>
        </div>
        <br>

        <div>
            <label for="precio">Precio: </label>
            <input type="number" name="precio" id="precio" value="<%=producto.precio%>" required>
        </div>
        <br>
        <div>
            <button type="submit" value="Actualizar Producto">Actualizar producto</button>
        </div>
        <br>
        <div>
            <label for="imagen">Imagen: </label>
            <input type="file" name="imagen" id="imagen" placeholder="Carga la imagen ">
        </div>
        <div>
            <button type="submit" value="Actualizar Producto">Actualizar imagen</button>
        </div>
    </form>
    
</body>
</html>