<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script defer src="/javascrip/chatdeemergencia.js"></script>
    <link rel="stylesheet" href="/css/chatemergencia.css">

    <title>Document</title>
</head>
<body>

    <button class="open-botton" onclick="openForm()"><i class="bx bxs-chat"></i>¿Necesitas ayuda?</button>
    <div class="chat__popup" id="myfrom">
    <form action="#" class="form__cotainer">
      <h2>Chatea con nosotros</h2>
      <label for="msg"><b>Mensaje</b></label>
      <textarea name="msg" placeholder="Escribe tu mensaje aqui..." required></textarea>
      <button type="submit" class="btn">Enviar</button>
      <button type="reset"  class="cancel" onclick="closeForm()">borrar</button>
    </form>
  </div>
  
</body>
</html>