<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/carrito.css">

    <title>Document</title>
</head>
<body>
    <header class="ecavesadocompra">

        <div class="mediodepago">
    
          <div class="targeta">
            <img src="/imagenes/carrito/master.png" >
          </div>
    
          <div class="targeta">
            <img src="/imagenes/carrito/naranjatarjeta.jpeg" >
          </div>
    
          <div class="targeta">
            <img src="/imagenes/carrito/visa.png" >
          </div>
    
          <div class="targeta">
            <img src="/imagenes/carrito/mercadopago.png" >
          </div>
    
          <div class="targeta">
            <img src="/imagenes/carrito/plata.png" >
          </div>
    
         
         <button class="carrito">
            <img src="/imagenes/carrito/carrito-de-compras.png">
         </button>
    
        </div>
    
      </header>
</body>
</html>