<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/nave.css">
    <script defer src="/javascrip/nav.js"></script>
    <title>Document</title>
</head>
<body>
    <header class="header">
        <nav class="nav">
          <a href="/" class="logo nav-link text-white">Home</a>
          <button class="nav-toggle" aria-label="Abrir menú">    <!--la amurguesa va en midia cueri-->
            <div class="icono-celular">
            <i class="fa fa-bars"></i>
          </div>
          </button>
          <ul class="nav-menu">
            <li class="nav-menu-item">
              <a href="/promociones" class="nav-menu-link nav-link text-white">Promociones</a>
            </li>
            <li class="nav-menu-item">
              <a href="/producto" class="nav-menu-link nav-link text-white">Productos</a>
            </li>
          </ul>
        </nav>   
      </header>
</body>
</html>