<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/pie.css">

    <title>Document</title>
</head>
<body>
    <footer class="footer-servicio-social">
        <div>
          <p class="titulofooter">SÍGUENOS EN NUESTRAS REDES SOCIALES</p> 
          <ul class="info">
            <li class="iten"><a href="https://www.facebook.com/?locale=es_LA" title="Facebook" target="_blank"><img src="/imagenes/facebook_logo.png"></a></li> 
            <li class="iten"><a href="https://www.youtube.com/user/GarnierMex" title="instagram" target="_blank"><img src="/imagenes/instagram.png"></a></li> 
            <li class="iten"><a href="https://twitter.com/garniermx" title="Twitter" target="_blank"><img src="/imagenes/twiter.png"></a></li> 
            <li class="iten"><a href="1160873024"><img src="/imagenes/whatsapp.png"> </a></li>
          </ul>
    
          <div>
            <ul>
              <li class="iten">Autora: Daniela Ponce , Diana Ayala </li>
            </ul>
          </div>
        </div>
      </footer>
</body>
</html>