<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/imagenes/carrito verde icon.ico" type="image/x-icon"><!--le inserto una pequeña imagen a la etiqueta />-->

    <link rel="stylesheet" href="/css/home.css">
        
    <link rel="stylesheet" href="/css/carrito.css">

    <link rel="stylesheet" href="/css/promociones.css">


    <script defer src="/javascrip/nav.js"></script>
       
    <script defer src="/javascrip/chatdeemergencia.js"></script>

    <script defer src="/javascrip/carrito.js"></script>
 
    <title>Marimar</title>
</head>
<body>

    <header class="header">

        <nav class="nav">
          <a href="home.ejs" class="logo nav-link">Home</a>
          <button class="nav-toggle" aria-label="Abrir menú">    <!--la amurguesa va en midia cueri-->
            <i class="fa fa-bars"></i>
          </button>
          <ul class="nav-menu">
            <li class="nav-menu-item">
              <a href="promociones.ejs" class="nav-menu-link nav-link">Promociones</a>
            </li>
            <li class="nav-menu-item">
              <a href="producto.ejs" class="nav-menu-link nav-link">Productos</a>
            </li>
            <li class="nav-menu-item">
                <a href="#" class="nav-menu-link nav-link"> </a>
            </li>

          </ul>
        </nav>
          
    </header>
    
    <header class="ecavesadocompra">
    
        <div class="mediodepago">
    
          <div class="targeta">
            <img src="/imagenes/carrito/master.png" >
          </div>
    
          <div class="targeta">
            <img src="/imagenes/carrito/naranjatarjeta.jpeg" >
          </div>
    
          <div class="targeta">
            <img src="/imagenes/carrito/visa.png" >
          </div>
    
          <div class="targeta">
            <img src="/imagenes/carrito/mercadopago.png" >
          </div>
    
          <div class="targeta">
            <img src="/imagenes/carrito/plata.png" >
          </div>
    
         
         <button class="carrito">
          <img src="/imagenes/carrito/carrito-de-compras.ico">
         </button>
            
        </div>
    
    </header>
    
    <main> 
    
      <button class="open-botton" onclick="openForm()"><i class="bx bxs-chat"></i>¿Necesitas ayuda?</button>
      <div class="chat__popup" id="myfrom">
        <form action="#" class="form__cotainer">
          <h2>Chatea con nosotros</h2>
          <label for="msg"><b>Mensaje</b></label>
          <textarea name="msg" placeholder="Escribe tu mensaje aqui..." required></textarea>
          <button type="submit" class="btn">Enviar</button>
          <button type="button" class="btn cancel" onclick="closeForm()">Cerrar</button>
        </form>
      </div>
     
      <h1 class="tituloprincipal"> ¡ Más Promos !</h1>

     
      <div class="textofrase">
         
        <p><b>Aprobeche estos precios increibles , no los encontraras en otro sitio</b> </p>

      </div>

      <!--sorteo formulario -->

     <%- include('../views/sorteo') %>                 
     
                          <!-- secion de productos limpieza -->
          
     <details>
        <summary class="desplegablelimpieza"> Los produtos de limpieza </summary>
        <section class="fondodesplegablelimpiza"> 
                 
                
        
                <div class="promolinpieza">
                  <h1><b> Promo 1 <b></h1> 
                  <img src="/imagenes/lavandinaen_gel.jpeg">
                  <img src="/imagenes/rollodecocina.jpeg">
                  <p>Trae 2 paquetes de papel cocina, incluido una lavandina en gel.
                     Con el increible precio $ 6.000 
                  </p>
                </div>
        
                <div  class="promolinpieza">
                 <h1><b> Promo 2 <b></h1>
                 <img src="/imagenes/limpiador-pisos.jpeg">
                 <img src="/imagenes/mopa.jpeg">
                 <p>Trae un bidon de cif con una mopa de regalo. A tansolo $12.000</p>
               </div>
        
               <div  class="promolinpieza">
                  <h1><b> Promo 3 <b></h1> 
                  <img src="/imagenes/jabonpararopa.png">
                  <p>Super promo, limpiador de pisos,suavisante,jabon para la ropa. A solo $10.500</p>
               </div>
        
               <div  class="promolinpieza">
                  <h1><b> Promo 4 <b></h1> 
                  <img src="/imagenes/detergente.jpeg">
                  <img src="/imagenes/esponja.jpg">
                  <p>Detergente de primera marca,super rendidor con 2 esponjas de regalo. Sorprendente precio a $13.000</p>
                </div>    
                

                <div  class="promolinpieza">
                  <h1><b> Promo 5<b></h1> 
                  <img src="/imagenes/trapodepiso.jpg">
                  <img src="/imagenes/escobas.jpg">
                  <p>Trae 4 trapos de piso y una escoba de regalo, el color a elecion. A tansolo $ 5.000</p>
                </div>

                <div  class="promolinpieza">
                  <h1><b> Promo 6 <b></h1> 
                  <img src="/imagenes/cif-antigrasa.png">
                  <img src="/imagenes/trapoMicrofibra.png">
                  <p>Bidon de 5litros de antigrasa y 3 trapos de microfibra. A solo $ 7.000 </p>
                </div>
                

                <div  class="promolinpieza">
                  <h1><b> Promo 7 <b></h1> 
                  <img style="height: 80px; width: 80px;" src="/imagenes/pastillapratoalet.jpeg">
                  <p>3 a precio de 2. A solo $ 3.500 </p>
                </div>    
                  

                <div  class="promolinpieza">
                  <h1><b> Promo 8 <b></h1> 
                  <img src="/imagenes/automatizador.jpeg">
                  <img src="/imagenes/potedeperfumehogar.jpeg">
                  <p>Aromatizante Automático Glade Manzana Y Canela + tres fragancia primavera. A solo a $ 30.000</p>
                </div>    
                

                <div  class="promolinpieza">
                  <h1><b> Promo 9<b></h1> 
                  <img src="/imagenes/limpiadordevidrios.jpeg">
                  <img src="/imagenes/esponjadelimpiavidrio.jpg">
                  <p>Pon tus ventanas dradiantes como diamente con este combo. Te llebas un limpiador de veidrio de mistermusculoso y una esponja de limpia vidrio.
                    A tansolo $ 15.000
                  </p>
                </div>

               


        </section>
           
     </details>

                         <!-- secion de productos igiene -->

     <details>
      <summary class="desplegableijiene"> Igiene personal </summary>
      <section class="fondodesplegableijiene">  
       <div class="promoigiene" >
         <h1><b> Promo 1 <b></h1> 
         <img  src="/imagenes/nuevo-productos/shampoo2en1.jpeg">
         <img  src="/imagenes/igienen/velasflotantes.jpeg">
         <p>Aprovecha este combo, shampoo 2 en 1 y 4 velas flotantes con una rica fragancia. Solo por $ 15.000</p>
       </div>

       <div class="promoigiene" >
        <h1><b> Promo 2 <b></h1> 
        <img  src="/imagenes/igienen/dentifrico.png">
        <img  src="/imagenes/igienen/enjuaquebocal.jpg">
        <img  src="/imagenes/igienen/hilo dental.jpeg">
        <p> Aprobecha esta promo. Cuida tu sonrisa, que no te de pena de sonreir. 
           Te estas llebando un enjuague bocal + un dentifrico + un hilo dental. Te lo estas llebando a solo $ 13.000</p>
      </div>
       
       <div class="promoigiene">
         <h1><b> Promo 3 <b></h1>
         <img  src="/imagenes/igienen/guantedebaño.jpg">
         <img  src="/imagenes/igienen/jabon.png">
         <p> Te llabas unos guantes de baños + 5 jabones de baño. Tan solo $ 6.000</p>
       </div>
    
      
      <div class="promoigiene">
        <h1><b> Promo 4 <b></h1>
        <img  src="/imagenes/igienen/toallitasdia.jpeg">
        <img  src="/imagenes/igienen/toallitasnocturnas.jpg">
        <p>Toallitas femininas a todo momento. Suaves y comodas. Las llevas por $ 11.000 </p>
      </div>

      <div class="promoigiene" >
        <h1><b> Promo 5 <b></h1> 
        <img src="/imagenes/igienen/gillettedemujer.jpg">
        <p>Gillette de mujer de 24 unidades. Aprobechala, está a solo $ 7.000</p>
      </div>
      
      <div class="promoigiene" >
        <h1><b> Promo 5 <b></h1> 
        <img src="/imagenes/igienen/gillettedehombre.jpg">
        <img src="/imagenes/igienen/cremadeafeitar.jpeg">
        <p>Gillette de hombre de 12 unidades + una crema de afeitar. A solo $ 10.000</p>
      </div>
      
        </section> 
     </details>


                          <!-- secion de productos almacen -->
        
     <details>
       <summary class="desplegablealma"> Almacen </summary>
       <section class="fondodesplegablealma">  
        <div class="promoalmacen" >
          <h1><b> Promo 1 <b></h1> 
          <img  src="/imagenes/yerba.jpeg">
          <img  src="/imagenes/yerba.jpeg">
          <p>Llebando 2 paquetes de 1,2kg de la marca "Union". A tansolo $ 4.000</p>
        </div>
        
        <div class="promoalmacen">
          <h1><b> Promo 2 <b></h1>
          <img  src="/imagenes/arroz.png">
          <img  src="/imagenes/polenta.png">
          <p>Arroz de primera marca, acompañado con un paquete de polenta.Con un precio de $3.000</p>
        </div>
        
        <div class="promoalmacen">
          <h1><b> Promo 3 <b></h1> 
          <img src="/imagenes/leche.jpeg">
          <img src="/imagenes/leche.jpeg">
          <img src="/imagenes/leche.jpeg">
          <p>3 por 2 !!.Yebas 3 pagas 2. A solo $4.000</p>
        </div>
        
        <div class="promoalmacen">
          <h1><b> Promo 4 <b></h1> 
          <img  src="/imagenes/fideos.jpg">
          <img  src="/imagenes/lata-de-tomate.jpeg">
          <p>Llebas 2 paquetes de fideos con 2 latas de tomate picados. A solo $8.000</p>
        </div>

        </section> 
      </details>

      <%- include('../views/carruzel videos') %>  

    <main>

      <footer class="footer-servicio-social">
  
        <div>
          <p class="titulofooter">SÍGUENOS EN NUESTRAS REDES SOCIALES</p> 
          <ul class="info">
            <li class="iten"><a href="https://www.facebook.com/?locale=es_LA" title="Facebook" target="_blank"><img src="/imagenes/facebook_logo.png"></a></li> 
            <li class="iten"><a href="https://www.youtube.com/user/GarnierMex" title="instagram" target="_blank"><img src="/imagenes/instagram.png"></a></li> 
            <li class="iten"><a href="https://twitter.com/garniermx" title="Twitter" target="_blank"><img src="/imagenes/twiter.png"></a></li> 
            <li class="iten"><a href="1160873024"><img src="/imagenes/whatsapp.png"> </a></li>
          </ul>
    
          <div>
            <ul>
              <li class="iten">Auntora: Daniela Ponce , Diana Ayala , Cami Castellanos y Agustina Barrios </li>
            </ul>
          </div>
        </div>
      </footer>  
</body>
</html>