*{
    margin: 0;
}


main{                      /*listo*/
    margin-bottom:15px;
}

.bienvenida{               /* listo*/                
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    width: 102%; 
    height: auto
    
}

.bienvenida h1{            /* listo*/               
    font-size: 25px; 
}


.bienvenida p{             /* listo*/                
   font-size: 15px;
}

.saludo{
  text-align: center;
  background-color: #cef7f7;
  width: 100%;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 10px;
}
.saludo h2{
    font-size: 23px;
    color: #0769e9;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.saludo label{
    font-size: 16px;
}

.encavesadovene{            /* listo*/                 

    margin-left:0px ;
}

.veneficio{                 /* listo*/                   
    
    display:flex;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5%;
    background-color: rgb(183, 248, 226);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    width:90% ;
    height: auto;
    
}

.veneficio h4{               /* listo*/                   
    text-align: center;
    font-size: 14px;
}

.veneficio p{                /* listo*/                   

    text-align: center;
    font-size:10px ;
    
}

.veneficio img{               /* listo*/                  
    
    width:35%;
    height:auto;
    
}

.hijoveneficio{               /* listo*/                  
    padding: 4px;
    display: inline-block;
}

.container1{                  /* listo*/                   
    background-color:rgb(215, 255, 141);
    display:flexbox;
    width: 90%;
    height: auto;
    margin-top: 20px;
    margin-left:25px;
}

.container1 h1{                /* listo*/                   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}

.hijos{                       /* listo*/                   
    background-color:rgb(221, 221, 201);
    font-family: Arial;
    text-align: center;
    display: inline-block;
    padding: 4px;
    margin-left: 3%;
    border-radius: 10px;
    width: 20%;
    height: auto ;
    margin-bottom: 15px;

}

.hijos p{                     /* listo*/                   
    text-align: center;
    font-style:oblique;
    color: rgb(117, 57, 1);
    font-size: 7px;

}

.hijos h1{                   /* listo*/                   
    color: rgb(61, 31, 0);
    text-align: center;
    font-style: oblique;
    margin-top: 0;
    font-size: 15px;
}

.hijos img{                   /* listo*/                  
    width: 46%;
    height: auto ; 
    padding: 3px;
}

.container2{                  /* listo*/                    
    background-color:rgb(237, 165, 255);
    display:flexbox;
    width: 90%;
    height: auto;
    margin-top: 20px;
    margin-left:25px;
}

.container2 h1{               /* listo*/                  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}


.fondonuevo{
    margin-top: 10px;
    margin-bottom: 10px;
     
}

.nuevo{                       /* listo*/                   
    background-color:#ffe6b0;
    font-family:Georgia;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    width: 20%;
    height: auto ;
    margin-left: 17px;
    margin-bottom: 15px;
    margin-top: 15px;
}


.nuevo p{                     /* listo*/                   
    text-align: center;
    font-style:oblique;
    color: rgb(8, 4, 0);
    font-size: 8px;

}

.nuevo h1{                     /* listo*/                   
    text-align: center;
    font-style:oblique;
    background-color:crimson;
    block-size: 30px;
    color:oldlace;
    font-size: 18px;

}

.nuevo img{                   /* listo*/                  
    width: 60%;
    height: auto ; 
    padding: 3px;
}

.registro{                    /* listo*/                  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center; 
    background-color: rgb(139, 151, 255);
    width: 90%;
    margin-bottom: 15px;
    margin-left: 5%;
}

.tituloregistro{             /* listo*/
    text-align: center;
    color: #1c0486;
    font-size: 20px;
}


.boton{                       /* listo*/
  margin-left: 80%
}


                                          /*https://getbootstrap.com/

/*tablet */ /*DIANA*/
@media (min-width: 501px) and (max-width: 800px) {

    .bienvenida h1 {
        font-size: 22px;
    }

    .bienvenida p {
        font-size: 18px;
    }

    .saludo{
      
        font-size: 14px;
        margin-bottom: 6px;
      }
    
    .saludo h2{
        font-size: 21px;
    }
      
    .saludo label{
        font-size: 16px;
    }

    .veneficio {
        margin: 10px 5%;
        width: 90%;
    }

    .veneficio h4 {
        font-size: 15px;
    }

    .veneficio p {
        font-size: 11px;
    }

    .veneficio img {
        width: 50%;
    }


    .container1 {
        margin-left: 20px;
    }

    .container1 h1 {
        font-size: 19px;
    }

    .hijos {
        margin-left: 10px;
        width: 21%;
    }

    .hijos p {
        font-size: 7px;
    }

    .hijos h1 {
        font-size: 18px;
    }

    .hijos img {
        width: 47%;
    }

    .container2 {
        margin-left: 20px;
    }

    .container2 h1 {
        font-size: 18px;
    }

    .fondonuevo{
        width: 102%;
    }


    .nuevo{                       /* listo*/                   
        width: 22%;
        height: auto ;
        margin-left: 9px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    
    .nuevo p{                     /* listo*/                   
        font-size: 9px;
    
    }
    
    .nuevo h1{                     /* listo*/                   
        block-size: 35px;
        font-size: 20px;
        block-size: 35px;
    }
    
    .nuevo img{                   /* listo*/                  
        width: 30%;
        height: 4%; 
        
    }
    

    .registro {
        font-size: 12px;
    }


    .tituloregistro {
        font-size: 23px;
    }


    .boton {
        margin-left: 65%;
    }

   
     
   

}

/* Table grande */           
@media (min-width: 801px) and (max-width:1000px){      


/* tablet grade nav hecho*/

.bienvenida h1{            /* listo*/               
    font-size: 25px;
}

.bienvenida p{             /* listo*/                
   font-size: 20px;
}

.saludo{
      
    font-size: 15px;
    margin-bottom: 6px;
  }

.saludo h2{
    font-size: 24px;
}
  
.saludo label{
    font-size: 18px;
}

.veneficio{                 /* listo*/                   
    
    margin-top: 9px;
    margin-bottom: 9px;
   
}

.veneficio h4{               /* listo*/                   
    font-size: 15px;
}

.veneficio p{                /* listo*/                   
    font-size:12px ;
    
}

.veneficio{                    /*listo*/

    width: 90%;
    margin-left: 5%;
}

.hijoveneficio{               /* listo*/                  
    padding: 2px;
}

.container1{                  /* listo*/                   
    margin-top: 0px;
    margin-left:5%;
}

.container1 h1{                /* listo*/                   
    font-size: 20px;
}

.hijos{                       /* listo*/                   
    margin-left: 20px;
    width: 21%;
}

.hijos p{                     /* listo*/                   
    font-size: 10px;
}

.hijos h1{                   /* listo*/                   
    font-size: 19px;
}

.hijos img{                   /* listo*/                  
    width: 48%;
    padding: 1px;
}

.container2{                  /* listo*/                    
    margin-top: 0px;
    margin-left:5%;
}

.container2 h1{                /* listo*/       
    font-size: 20px;   
}


.fondonuevo{
    width: 102%;
}


.nuevo{                       /* listo*/                   
    width: 23%;
    height: auto ;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}


.nuevo p{                     /* listo*/                   
    font-size: 10px;

}

.nuevo h1{                     /* listo*/                   
    block-size: 35px;
    font-size: 23px;
}

.nuevo img{                   /* listo*/                  
    width: 30%;
    height: 4%; 
    
}

.registro{                     /* listo*/                  

    font-size: 15px;
}

.tituloregistro{               /* listo*/
    font-size: 30px;
    margin-bottom:15px ;
}

.boton{                        /* listo*/
  margin-left: 70%
}

  /*Tablet grande listo*/
}

/* escritorio */         
@media (min-width: 1001px) and (max-width:1200px){  /* escritorio hecho*/


.bienvenida{               /* listo*/                
    width: 103%;    
}

.bienvenida h1{            /* listo*/               
    font-size: 37px;
}

.bienvenida p{             /* listo*/                
   font-size: 30px;
}

.saludo{ 
    font-size: 22px;
    margin-bottom: 6px;

}

.saludo h2{
    font-size: 35px;
}
  
.saludo label{
    font-size: 25px;
}

.veneficio{                 /* listo*/                   
    
    margin-top: 15px;
    margin-bottom: 15px;
   
}

.veneficio h4{               /* listo*/                   
    font-size:24px;
}

.veneficio p{                /* listo*/                   
    font-size:18px ;
    
}

.veneficio{                    /*listo*/

    width: 95%;
    margin-left: 4%;
}

.hijoveneficio{               /* listo*/                  
    padding: 0px;
}

.container1{                  /* listo*/                   
    
    width: 95%;
    margin-left:4%;
}

.container1 h1{                /* listo*/                   
    font-size: 28px;
}

.hijos{                       /* listo*/                   
    width: 22%;
    margin-left: 20px;
}

.hijos p{                     /* listo*/                   
    font-size: 16px;
}

.hijos h1{                   /* listo*/                   
    font-size: 23px;
}

.hijos img{                   /* listo*/                  
    width: 48%;
    padding: 1px;
}

.container2{                  /* listo*/                    
    width: 95%;
    margin-left:4%;
}

.container2 h1{               /* listo*/       
    font-size: 28px;   
}


.fondonuevo{
    width: 103%;
}

.nuevo{                       /* listo*/                   
    width: 23%;
    height: auto ;
    margin-left: 13px;
    margin-bottom: 10px;
    margin-top: 10px;
}


.nuevo p{                     /* listo*/                   
    font-size: 13px;
}

.nuevo h1{                     /* listo*/                   
    block-size: 45px;
    font-size: 25px;
}

.nuevo img{                   /* listo*/                  
    width: 56%;
    height: auto ; 
    padding: 3px;
}

.registro{                     /* listo*/                  

    font-size: 22px;
  
}

.tituloregistro{                /* listo*/
    font-size: 35px;
    margin-bottom:15px ;
}

.boton{                        /* listo*/
    margin-left: 70%
}




} 


/* escrirorio monitor grande*/         
@media (min-width: 1201px) and (max-width:1400px){   /* escrirorio monitor grande listo*/ 

   

    .bienvenida{               /* listo*/                
        width: 108%;    
    }
    
    .bienvenida h1{            /* listo*/               
        font-size: 45px;
    }
    
    .bienvenida p{             /* listo*/                
       font-size: 35px;
    }

    .saludo{
        width: 110%;
        font-size: 22px;
        margin-bottom: 6px;
      }
    
    .saludo h2{
        font-size: 35px;
    }
      
    .saludo label{
        font-size: 25px;
    }

    .veneficio h4{               /* listo*/                   
        font-size:30px;
    }
    
    .veneficio p{                /* listo*/                   
        font-size:25px ;
        
    }
    
    .veneficio{                    /*listo*/
    
        width: 95%;
        margin-left: 3%;
    }
    
    .hijoveneficio{               /* listo*/                  
        padding: 0px;
    }
    
    .container1{                  /* listo*/                   
        
        width: 95%;
        margin-left:3%;
    }
    
    .container1 h1{                /* listo*/                   
        font-size: 30px;
    }
    
    .hijos{                       /* listo*/                   
        width: 22%;
        margin-left: 20px;
    }
    
    .hijos p{                     /* listo*/                   
        font-size: 20px;
    }
    
    .hijos h1{                   /* listo*/                   
        font-size: 28px;
    }
    
    .hijos img{                   /* listo*/                  
        width: 48%;
        padding: 1px;
    }
    
    .container2{                  /* listo*/                    
        width: 95%;
        margin-left:3%;
    }
    
    .container2 h1{               /* listo*/       
        font-size: 30px;   
    }

    .fondonuevo{
        width: 108%; 
    }

    .nuevo{                       /* listo*/                   
        width: 23%;
        height: auto ;
        margin-left: 16px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    
    .nuevo p{                     /* listo*/                   
        font-size: 17px;
    }
    
    .nuevo h1{                     /* listo*/                   
        block-size: 50px;
        font-size: 30px;
    }
    
    .nuevo img{                   /* listo*/                  
        width: 58%;
        height: auto ; 
        padding: 3px;
    }

    
    .registro{                     /* listo*/                  
    
        font-size: 25px;
        
    }
    
    .tituloregistro{                /* listo*/
        font-size: 42px;
        margin-bottom:15px ;
    }
   
    
    .boton{                        /* listo*/
        margin-left: 70%
    }

  

}