*{
    margin: 0;
}


.header {
    background-color: #90c9f8;
    height: 50px;
    width: 102%;
}
  
.nav {
    display: flex; 
    justify-content: space-between; 
    margin: 0 5px;
}
  
.nav-link {
    color: rgb(4, 48, 247);
    text-decoration: none;
}
  
.logo {
    font-size: 22px;
    font-weight: bold;
    padding-left: 3px;
    line-height: 50px;
}
  
.nav-menu {
    display: flex; 
    padding: 2px;
    list-style: none;
}
  
.nav-menu-item {
    font-size: 13px;
    margin: 0 3px;
    line-height: 50px;
    width: max-content;     /*se utiliza para establecer el ancho máximo de un elemento*/ 
}
  
.nav-menu-link {
    padding: 8px;
    border-radius: 3px;
}
  
.nav-menu-link:hover,
.nav-menu-link_active {
    background: none;
    color: #000000;
    transition: 0.5s;
}
  
/* TOGGLE  boton del navegador */
.nav-toggle {
    color: #0921f5;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 25px;
    line-height: 60px;
    cursor: pointer;
    
    display: none;  
}
  
@media (min-width:200px) and (max-width:500px){  
  
    .header {
        height: 60px;   /*tamaño del nevegador*/
          
    }
    
    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: #38536e;
        position: fixed;
        top: 60px;
        width:100%;
        padding: 20px 0;
      
        height: calc(100% - 60px); 
        overflow-y: auto;
      
        left: 100%; 
        transition: left 0.3s;
    }
      
    .nav-menu-item {
        line-height: 70px;
    }
      
    .nav-menu-link:hover,
    .nav-menu-link_active {
        background: none;
        color: #95d0fd;
    }
      
    .nav-toggle {
        display: block;
    }
      
    .nav-menu_visible {  /*desplegable */
        left: 0;
    }
      
    .nav-toggle:focus:not(:focus-visible) { 
        outline: none;
    } 
}
    

/* chat de emergensia*/
.open-botton{
    width: 160px;
    padding: 5px 7px;
    position: fixed;
    bottom: 0px;
    right: 45px;
    margin-bottom: 24px ;
    font-weight: 700;  /*pone gruesa la letra*/
    font-size: 9px;
    border-radius: 6px;  /*tamaño del borde del boton*/
    cursor: pointer;
    color: #fff;
    background-color: #e40404;
    
}

.open-botton i{
    display:inline-flex;
    margin-right: 5px;
}

.chat__popup{
    position: fixed;
    bottom: 0;
    right: 25px;
}

.form__cotainer{
    max-width: 220px;
    padding: 10px;
    font-size: .8rem;
    color: #000;
    background-color: #ecf7ff;
}

.form__cotainer textarea{
    width: 95%;
    padding: 10px;
    margin: 5px;
    border: none;
    background: #e7e1e1;
    resize: none;
    min-height: 100px;
}

.form__cotainer h2{
    font-size: 1.3rem;
    font-weight: 700;
}

.form__cotainer textarea:focus{
    background-color: #cecbcb;
    outline: none;
}

.form__cotainer .btn{
    width: 95%;
    padding: 11px 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    background-color: #3ae23a;
}

.form__cotainer{
    opacity: 1;
}

.form__cotainer .cancel{
    background-color: #e40505;
}



@media (min-width: 501px) and (max-width: 800px) {

    .logo {
        font-size: 21px;
        padding-left: 5px;
    }

    .nav-menu-item {
        font-size: 13px;
        margin: 0 3px;
    }

    .nav-menu-link {
        padding: 6px;
    }



    /* chat de emergensia*/  /*listo*/
   .open-botton{
    right: 60px;
    font-size: 13px;
 
   }

   .open-botton i{
    margin-right: 2px;
   }

   .chat__popup{
    right: 25px;
   }

  .form__cotainer textarea{
    width: 93%;
  }

  .form__cotainer .btn{
    width: 95%;
  }
  
}

/* Table grande */           
@media (min-width: 801px) and (max-width:1000px){  
    
      
.logo {
    font-size: 30px;
    padding-left: 20px;
    line-height: 50px;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 8px;
}

.nav-menu-link {
    padding: 15px;
}

/* chat de emergensia*/    /*listo*/
   .open-botton{
    right: 70px;
    font-size: 15px;
    width: 220px;
   }

  .chat__popup{
    right: 58px;
   }

  .form__cotainer{
    max-width: 250px;
  }


  .form__cotainer textarea{
    width: 96%;
   }

  .form__cotainer .btn{
    width: 97%;
  }

}

@media (min-width: 1001px) and (max-width:1200px){  /* escritorio hecho*/

      
    .logo {
        font-size: 37px;
        padding-left: 25px;
    }
    
    .nav-menu-item {
        font-size: 26px;
        margin: 0 16px;
    }
     
    
    .nav-menu-link {
        padding: 12px;
    }
    
    .header {
        height: 57px;
        width: 103%;
    }
    
    
    /* escritorio nav hecho*/

    /* chat de emergensia*/    /*listo*/
  .open-botton{
    right: 97px;
    font-size: 18px;
    width: 250px;
  }

.chat__popup{
    right: 85px;
}

.form__cotainer{
    max-width: 270px;
    font-size: 17px;
}

.form__cotainer textarea{
    width: 95%;
}

.form__cotainer .btn{
    width: 95%;
}


}


/* escrirorio monitor grande*/         
@media (min-width: 1201px) and (max-width:1400px){   /* escrirorio monitor grande listo*/ 

      
    .logo {
        font-size: 45px;
        padding-left: 30px;
    }
    
    .nav-menu-item {
        font-size: 30px;
        margin: 0 10px;
    }

   
    .nav-menu-link {
        padding: 15px;
    }
    
    .header {
        height: 65px;
        width: 110%;
    
    }
    /* escritorio nav hecho*/







    
     /* chat de emergensia*/    /*listo*/
.open-botton{
    right: 140px;
    font-size: 22px;
    width: 270px;
}

.chat__popup{
    right: 140px;
}

.form__cotainer {
    max-width: 300px;
    padding: 10px;
    font-size: 19px;
 
}


.form__cotainer textarea{
    
    width: 96%;
}

.form__cotainer .btn{
    width: 98%;
}


}