.titulofooter{
    font-size: 12px;
    text-align: center;
    margin-bottom:10px ;
}

.footer-servicio-social{
    background-color: rgb(209, 209, 209);
    width: 102% ;
}

.iten{
    list-style: none;                    
    font-size: 9px;
    padding-bottom: 10px ;
}

.info{
    display: flex; 
    justify-content:space-between;
    margin-right: 300px; 
    margin-left: 160px;
}


.info img{
    height: auto;
    width: 25px;
    padding: 2px;
}

@media (min-width: 501px) and (max-width: 800px) {

    .titulofooter{
        text-align: center;
        font-size: 13px;
    }
     
   
    .iten{
        list-style: none;                       
        font-size: 10px;
        padding-bottom: 10px ;
    }

    .info img{
        height: auto;
        width: 28px;
        height: auto;
        padding: 2px;
    }
    
    .info{
        display: flex; 
        justify-content:space-between; 
        padding-left: 75px;
    }

}

@media (min-width: 801px) and (max-width:1000px){  

    .titulofooter{
        font-size: 15px;
    }
     
    .iten{                      /*listo*/
        font-size: 13px;
        padding-bottom: 10px ;
    }


    .info img{
        height: auto;
        width: 30px;
        padding: 2px;
    }
    
    .info{
        display: flex; 
        justify-content:space-between; 
        padding-left: 140px;
    }
     
}

@media (min-width: 1001px) and (max-width:1200px){  /* escritorio hecho*/
    
.titulofooter{
    font-size: 23px;
    margin-bottom: 20px;
}
 
.iten{                      /*listo*/
    font-size: 16px;
    padding-bottom: 10px ;
}

.info img{
    height: auto;
    width: 40px;
    padding: 2px;
}

.info{
    display: flex; 
    justify-content:space-between; 
    margin-right: 400px ;
    margin-bottom: 15px;
    margin-left: 350px;

}
 

}

@media (min-width: 1201px) and (max-width:1400px){   /* escrirorio monitor grande listo*/ 
    
    .titulofooter{
        font-size: 25px;
        margin-bottom: 20px;
       }
    
     .iten{                      /*listo*/
        font-size: 17px;
        padding-bottom: 10px ;
     }
   
     .footer-servicio-social{
       width: 110% ;
    } 

    .info img{
        height: auto;
        width: 50px;
        padding: 2px;
      }
  
    .info{
        display: flex; 
        justify-content:space-between; 
        margin-right: 400px ;
        margin-bottom: 15px;
        margin-left: 350px;
  
      }
   
}