*{
    margin: 0;
}

/* INICIA SORTEO */
* {
    font-size: 16px;
    margin: 0;
    padding: 0;

}

/*Carrusel*/
.img_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.misma_linea {
    display: inline;
    font-size: 19px;
    margin: 9px;
}

.marimar {
    font-size: 20px;
    margin: 9px;
}

.premios {
    font-size: 20px;
    margin: 9px;
}

.pasos-registro {
    display: flex;
    justify-content: space-around;
    background-color: rgb(147, 247, 160) !important;
    max-width: 1200px;
    margin: 0 auto;
    padding: 3px;

}

.pasos-registro p {
    font-size: 12px;
}


.boton-tickets {
    background-color: rgb(54, 170, 54);

}

.tarjeta {
    flex: 1 1 100%;
    box-sizing: border-box;
    text-align: center !important;
    /* Se agregó !important porque no tomaba en cuenta el center*/
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    background-color: white;
    padding: 30px;
    margin: 20px;

}

.tarjeta p {
    text-align: justify;
}

.tarjeta img {
    height: 390px;
    width: 390px;

}


.formulario-contenedor {
    display: flex;
    background-color: rgb(92, 185, 247) !important;
    padding: 30px;
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    margin: 30px;
}

/* Separación de 2% inferior (abajo) entre elementos del formulario */
.margin_2-bottom {
    margin: 0% 0% 2% 0%;
}


/* Estilo tabla */
table {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 5%;
}

.encabezados {
    text-align: center;
    font-size: 10px;
    background-color: bisque;

}

th,
td {
    border: 1px solid !important;
    /*Important obliga a aplicar el estilo*/
    padding: 5px;
}

.omision_borde {
    border: none !important;
}

/*Botones e iconos*/
.centrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Decoración del botón */
button {
    border-radius: 5px !important;
    border: 0px;
    padding: 5px;
    margin: 10px !important;

}

/* Iconos y links*/
.link-iconos {
    margin-left: 50%;
}

.bi-clipboard-check-fill {
    font-size: 15px;
}

.bi-gift-fill {
    font-size: 15px;
}

.bi-person-fill {
    font-size: 15px;
}


@media(min-width: 801px) {
    .misma_linea {
        font-size: 25px;
    }

    .marimar {
        font-size: 30px;

    }

    .pasos-registro p {
        font-size: 15px;
    }

    .premios {
        font-size: 25px;
    }
}
/* TERMINA SORTEO*/

.tituloprincipal{
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(250, 9, 9);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.textofrase{
    font-size: 20px;
    color: rgb(109, 23, 23);
    font-style: oblique;
    text-align: center;
    background-color: rgba(180, 191, 255, 0.445);
    
}



                                          /* Limpieza*/

.desplegablelimpieza{

    font-size: 25px;
    color: blue;
    font-style: oblique;
    font-weight: bold;
    margin-left: 2px;
    margin-top: 20px;
    background-color: rgb(177, 242, 248);

}

.fondodesplegablelimpiza{
    background-color: rgb(225, 248, 250);
}


.promolinpieza{                       /* listo*/                   
    background-color:rgb(92, 185, 247);
    font-family: Arial;
    text-align: center;
    display: inline-block;
    padding: 4px;
    margin-left: 4%;
    border-radius: 10px;
    width: 25%;
    height: auto ;
    margin-top: 15px;
    margin-bottom: 9px;

}

.promolinpieza p{                     /* listo*/                   
    text-align: center;
    font-style:oblique;
    color: rgb(117, 57, 1);
    font-size: 9px;

}

.promolinpieza h1{                   /* listo*/                   
    color: rgb(61, 31, 0);
    text-align: center;
    font-style: oblique;
    margin-top: 0;
    font-size: 17px;
}

.promolinpieza img{                   /* listo*/                  
    width: 43%;
    height: auto ; 
    padding: 3px;
}


                                               /*Igiene personal*/
      
.desplegableijiene{

    font-size: 25px;
    color: rgb(255, 148, 9);
   
    font-style: oblique;
    font-weight: bold;
    margin-left: 2px;
    margin-top: 5px;
    background-color: rgb(249, 250, 178);

}

.fondodesplegableijiene{
    background-color: rgb(252, 251, 210);
}

.promoigiene{                       /* listo*/                   
    background-color: #fffc5c;
    font-family: Arial;
    text-align: center;
    display: inline-block;
    padding: 4px;
    margin-left: 4%;
    border-radius: 10px;
    width: 27%;
    height: auto ;
    margin-left: 18px;
    margin-top: 15px;
    margin-bottom: 5px;

}

.promoigiene p{                     /* listo*/                   
    text-align: center;
    font-style:oblique;
    color: rgb(139, 69, 3);
    font-size: 10px;

}

.promoigiene h1{                   /* listo*/                   
    color: rgb(61, 31, 0);
    text-align: center;
    font-style: oblique;
    margin-top: 0;
    font-size: 17px;
}

.promoigiene img{                   /* listo*/                  
    width: 42%;
    height: auto ; 
    padding: 2px;
}


                                                   /* Almacen*/

.desplegablealma{

    font-size: 25px;
    color: rgb(23, 161, 5);
    font-style: oblique;
    font-weight: bold;
    margin-left: 2px;
    margin-top: 10px;
    background-color: rgb(147, 247, 160);

}

.fondodesplegablealma{
    background-color: rgb(200, 255, 207);
}

.promoalmacen{                       /* listo*/                   
    background-color:rgb(127, 245, 97);
    font-family: Arial;
    text-align: center;
    display: inline-block;
    padding: 4px;
    margin-left: 4%;
    border-radius: 10px;
    width: 25%;
    height: auto ;
    margin-top: 15px;
    margin-bottom: 5px;

}

.promoalmacen p{                     /* listo*/                   
    text-align: center;
    font-style:oblique;
    color: rgb(139, 69, 3);
    font-size: 10px;

}

.promoalmacen h1{                   /* listo*/                   
    color: rgb(61, 31, 0);
    text-align: center;
    font-style: oblique;
    margin-top: 0;
    font-size: 17px;
}

.promoalmacen img{                   /* listo*/                  
    width: 43%;
    height: auto ; 
    padding: 3px;
}


iframe{

    height:200px;
    width:102%;
}

@media (min-width: 501px) and (max-width: 800px) {      /*Hecho*/


    .tituloprincipal{
       font-size: 40px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
    .textofrase{
        font-size: 22px;
    }
    

    iframe{

        height:250px;
        width:102%;
    }
 
    .promolinpieza {
        margin-left: 6px;
        margin-right: 6px;
        padding: 0;
        width: 30%;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .promolinpieza p {
        font-size: 11px;
    }

    .promolinpieza h1 {
        font-size: 18px;
    }

    .promolinpieza img {
        width: 44%;
    }

    .promoigiene{                       /* listo*/                   
        margin-left: 4px;
        margin-right: 4px;
        padding: 2;
        width: 29%;
        margin-top: 8px;
        margin-bottom: 5px;
    }
    
    
    .promoigiene p{                     /* listo*/                   
        font-size: 11px;
    
    }
    
    .promoigiene h1{                     /* listo*/                   
        font-size: 20px;
    }
    
    .promoigiene img{                   /* listo*/                  
        width: 44%; 
        
    }

    .promoalmacen {
        margin-left: 5px;
        margin-right: 5px;
        padding: 2;
        width: 29%;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .promoalmacen p{                     /* listo*/                   
        font-size: 12px;
    
    }
    
    .promoalmacen h1{                     /* listo*/                   
        font-size: 20px;
    }
    
    .promoalmacen img{                   /* listo*/                  
        width: 44%; 
        
    }
  

    .nuevo{                       /* listo*/                   
        width: 22%;
        height: auto ;
        margin-left: 9px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    
    .nuevo p{                     /* listo*/                   
        font-size: 9px;
    
    }
    
    .nuevo h1{                     /* listo*/                   
        block-size: 35px;
        font-size: 20px;
        block-size: 35px;
    }
    
    .nuevo img{                   /* listo*/                  
        width: 30%;
        height: 4%; 
        
    }
    

  
} 

/* Table grande */           
@media (min-width: 801px) and (max-width:1000px){     /*me falta*/   
  
    iframe{

        height:260px;
        width:102%;
    }

.hijos{                       /* listo*/                   
    margin-left: 20px;
    width: 21%;
}

.hijos p{                     /* listo*/                   
    font-size: 10px;
}

.hijos h1{                   /* listo*/                   
    font-size: 19px;
}

.hijos img{                   /* listo*/                  
    width: 48%;
    padding: 1px;
}


.nuevo{                       /* listo*/                   
    width: 23%;
    height: auto ;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}


.nuevo p{                     /* listo*/                   
    font-size: 10px;

}

.nuevo h1{                     /* listo*/                   
    block-size: 35px;
    font-size: 23px;
}

.nuevo img{                   /* listo*/                  
    width: 30%;
    height: 4%; 
    
}

}

/* escritorio */         
@media (min-width: 1001px) and (max-width:1200px){  /*me falta*/

    iframe{

        height:270px;
        width:103%;
    }
    
.hijos{                       /* listo*/                   
    width: 22%;
    margin-left: 20px;
}

.hijos p{                     /* listo*/                   
    font-size: 16px;
}

.hijos h1{                   /* listo*/                   
    font-size: 23px;
}

.hijos img{                   /* listo*/                  
    width: 48%;
    padding: 1px;
}

.nuevo{                       /* listo*/                   
    width: 23%;
    height: auto ;
    margin-left: 13px;
    margin-bottom: 10px;
    margin-top: 10px;
}


.nuevo p{                     /* listo*/                   
    font-size: 13px;
}

.nuevo h1{                     /* listo*/                   
    block-size: 45px;
    font-size: 25px;
}

.nuevo img{                   /* listo*/                  
    width: 56%;
    height: auto ; 
    padding: 3px;
}

} 

/* escrirorio monitor grande*/         
@media (min-width: 1201px) and (max-width:1400px){   /*me falta*/

    iframe{

        height:280px;
        width: 110%;
    }

    .hijos{                       /* listo*/                   
        width: 22%;
        margin-left: 20px;
    }
    
    .hijos p{                     /* listo*/                   
        font-size: 20px;
    }
    
    .hijos h1{                   /* listo*/                   
        font-size: 28px;
    }
    
    .hijos img{                   /* listo*/                  
        width: 48%;
        padding: 1px;
    }
  
    .nuevo{                       /* listo*/                   
        width: 23%;
        height: auto ;
        margin-left: 16px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    
    .nuevo p{                     /* listo*/                   
        font-size: 17px;
    }
    
    .nuevo h1{                     /* listo*/                   
        block-size: 50px;
        font-size: 30px;
    }
    
    .nuevo img{                   /* listo*/                  
        width: 58%;
        height: auto ; 
        padding: 3px;
    }

} 